
<!--container-->
<div class="main-container">
    <div class="about-wrap">
        <div class="part1">
            <img src="images/about/part1.png" alt="图片介绍">
        </div>
        <div class="part2">
            <img src="images/about/part2.png" alt="文字介绍">
        </div>
        <div class="part3">
            <img src="images/about/part3.png" alt="关于我们">
        </div>
        <div class="part4">
            <img src="images/about/part4.png" alt="关于我们">
        </div>
        <div class="part5">
            <img src="images/about/part5.png" alt="关于我们">
        </div>
    </div>
</div>