
<!--container-->
<div class="main-container">
    <div class="detail-wrap">
        <div class="part1">
            <img src="images/details3/part1.png" alt="图片介绍">
        </div>
        <div class="part2">
            <img src="images/details3/text.png" alt="文字介绍">
        </div>
        <div class="part3">
            <img src="images/details3/table.png" alt="表格介绍">
        </div>
        <div class="part-footer">
            <a href="#/product3/buy:p3" class="buy-button">立即购买</a>
            <p class="s-phone">免费咨询 400-875-1866</p>
            <p class="s-time">周二至周六 9:00——17：30</p>
        </div>
    </div>
</div>