
<!--container-->
<div class="main-container">
    <div class="swiper-container" id="swiper">
        <div class="swiper-wrapper " >
            <div class="swiper-slide" >
                <a href="#/products">
                    <img src="images/product1.png" alt="" width="100%">
                </a>
            </div>
            <div class="swiper-slide" >
                <!-- <a href="#/products"> -->
                    <img src="images/lunbo2.png" alt="" width="100%">
                <!-- </a> -->
            </div>
            <div class="swiper-slide" >
                <!-- <a href="#/products"> -->
                    <img src="images/lunbo3.png" alt="" width="100%">
                <!-- </a> -->
            </div>
        </div>

        <div class="pagination"></div>

    </div>
    
    <div class="part2">
        <img src="images/part2.png" alt="" width="100%">
    </div>

    <div class="part3">
        <img src="images/part3.png" alt="" width="100%">
    </div>

    <div class="part4">
        <img src="images/part4.png" alt="" width="100%">
    </div>

    <div class="part-footer">
        <a href="#/products" class="buy-button">立即购买</a>
        <p class="s-phone">免费咨询 400-875-1866</p>
        <p class="s-time">周二至周六 9:00——17：30</p>
    </div>

</div>