<nav class="clear news-list-navwrapper">
    <div class="logo">
        <a href="#/products">
            <img src="images/more.png">
        </a>
    </div>
    <div class="navTitle">
        <img src="images/logo.png">
    </div>
    <div class="navSearch">
        <a href="#/">
            <img src="images/account.png" alt="个人中心">
        </a>
    </div>
</nav>
<!--container-->
<div class="main-container">
    <div class="products-wrap">
        <div class="item">
            <p class="item-title">女性常见癌症  全面筛查</p>
            <p class="item-info">内含基因检测，肿瘤标记物，彩<br>超等,全面筛查常见癌症风险</p>
            <p class="item-price">
                <span class="now-price">¥ 1299</span>
                <span class="old-price">¥ 2780</span>
            </p>
            <a href="#/product1/details" class="buy-button">产品详情</a>
            <div class="coupon">

            </div>
        </div>

        <div class="item">
            <p class="item-title">女性常见癌症  深度筛查</p>
            <p class="item-info">在全面筛查基础上，使用先进的MRI核<br>磁影像设备,深度筛查癌症风险</p>
            <p class="item-price">
                <span class="now-price">¥ 1999</span>
                <span class="old-price">¥ 3860</span>
            </p>
            <a href="#/product2/details" class="buy-button">产品详情</a>
            <div class="coupon">

            </div>
        </div>

        <div class="item">
            <p class="item-title">爱心妈妈备孕套餐</p>
            <p class="item-info">怀孕时期的每一次精心检查<br>都是对宝宝健康多一份的呵护</p>
            <p class="item-price">
                <span class="now-price">¥ 885</span>
                <span class="old-price">¥ 1699</span>
            </p>
            <a href="#/product3/details" class="buy-button">产品详情</a>
            <div class="coupon">

            </div>
        </div>

    </div>
</div>